<style>
    #mapid { height: 380px; }
</style>

<div id="mapid"></div>

<link rel="stylesheet" href="/assets/css/leaflet.css" />

<script src="/assets/js/leaflet.js"></script>

<script>
    var mymap = L.map('mapid').setView([47.73876,13.03652], 19);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 19
    }).addTo(mymap);

    var marker = L.marker([47.73877,13.03652]).addTo(mymap);
    marker.bindPopup("<b>I-Café</b><br>Hauptstraße 32, Grödig.");

</script>