<script type="application/ld+json"> {
"@context" : "http://schema.org",
"@type" : "CafeOrCoffeeShop",
"name":"I-Cafe",
"url":"https://www.i-cafe.at",
"email":"iveta@i-cafe.at",
"telephone":"004367762502262",
"openingHours": "Mo-Fr 06:00-16:00",
"priceRange":"2",
"currenciesAccepted": "EUR",
"paymentAccepted":"Cash",
"address": {
    "@type": "PostalAddress",
    "addressCountry": "Austria",
    "addressLocality": "Grödig, Austria",
    "postalCode": "5082",
    "streetAddress": "Hauptstrasse 32"
},
"geo": {
    "@type": "GeoCoordinates",
    "latitude": "47.73877",
    "longitude": "13.03652"
},
"image": "https://www.i-cafe.at/assets/images/P1160149.jpg",
"servesCuisine": "local, italian, french"
}</script>