---
---

@import "{{ site.theme }}";

body {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cookie';
}

.site-header, .site-footer {
  font-family: 'Cookie';
  font-size: 160%;
  border:5px solid #fff;
  background-color: #44C3E6;
}

.footer-col-wrapper {
  font-size: 100%;
}

.site-header, .site-footer, .site-nav .page-link, .footer-col-wrapper, .site-footer a {
  color:#fff;
}

.site-title, .site-title:visited {
  font-size: 180% !important;
  color:#fff;
}


@media screen and (max-width: 600px) {
    .site-nav .page-link {
        color: black;
    }
}