---
---

@import "{{ site.theme }}";

html, body {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cookie';
  color: #111;
}

table {
  margin-bottom: 2em;
}

table td {
  padding-right:10px;
}

.post-content {
  color: #2a2a2a;

  p {
    text-align:justify;
  }
}

.site-header, .site-footer {
  font-family: 'Cookie';
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  font-size: 160%;
  border:5px solid #fff;
  background-color: #45A0DD;
}

.footer-col-wrapper {
  font-size: 100%;
}

.site-header, .site-footer, .site-nav .page-link, .footer-col-wrapper, .site-footer a {
  color:#fff;
}

.site-title, .site-title:visited {
  font-size: 180% !important;
  color:#fff;
}


@media screen and (max-width: 600px) {
    .site-nav .page-link {
        color: black;
    }
}

#instafeed {
  text-align:center;
}

#instafeed img {
  margin:3px;
}